---
import type load from "astro-icon/lib/utils";
import Seo3D from "../asset/Seo3D.webp";
import MotionContainer from "./MotionContainer";
import ExpandableCard from "./ExpandableCard/ExpandableCard";
---

<div class="about" id="about">
  <div class="content">
    <h2 class="title">Who is Thanh Huy Doan 🤔</h2>
    <div class="content__title">
      <div>
        <ExpandableCard client:only="react" title="A bit about me" index={1}>
          <span>
            I am a fresher web developer based in HCM City, Vietnam, who is
            enthusiast for modern technologies with a drive for problem-solving
            in creative ways to shipping beautiful and performance websites on
            time.
          </span>
          <span>
            I will graduate from my 2nd bachelor's degree in IT at HCM
            University of Information Technology next month. However I consider
            myself as self-taught on web development with a strong discipline
            for learning, improving and evolving.
          </span>
          <span>
            In addition to my web development skills, I possess a great affinity
            for UI and graphic design. Additionally, I enjoy camping,
            meditation, traveling, and photography.
          </span>
        </ExpandableCard>
      </div>
      <div>
        <ExpandableCard
          title="In a bit of both worlds"
          subtitle="Marketing & Web Dev"
          index={2}
          client:only="react"
        >
          <span>
            After 4 years of leading a marketing team and gaining a strong
            background in the field, I have come to truly understand that the
            naturally strong attachment between content and website architecture
            is inseparable.
          </span>
          <span>
            In the constantly changing world of digital marketing, creating good
            content and implementing SEO tactics that focus solely on keyword
            research and on-page optimization is no longer enough to achieve
            desired targets. Optimizing a website's technical infrastructure and
            architecture also plays a crucial role in determining website
            visibility and search engine indexability.
          </span>
          <span>
            I love coding because it constantly challenges me to learn new
            things. Building websites from well-thought-out designs is an
            amazing journey where I can implement all my innovative ideas with a
            user-centric approach. Creating digital experiences that are both
            intuitive and attractive is incredibly fulfilling.
          </span>
        </ExpandableCard>
      </div>
    </div>
  </div>
  <div
    class="blur"
    style={{
      "--bg": "#ABF1FF94",
      "--top": "13rem",
      "--left": "-18rem",
    }}
  >
  </div>
  <div class="illustration">
    <!-- <MotionContainer
      client:load
      initial={{ scale: 0 }}
      whileInView={{ scale: 1 }}
      viewport={{ margin: "-40px" }}
      transition={{ duration: 1 }}
      className="main-circle"
    >
      <img src={Seo3D.src} width={Seo3D.width} alt="" />
    </MotionContainer> -->
    <div
      class="blur"
      style={{ "--bg": "var(--purple)", "--top": "1rem", "--left": "5%" }}
    >
    </div>
  </div>
</div>

<style>
  .about {
    position: relative;
    margin-inline: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, 48px 1fr);
    place-content: center;
    gap: 3rem;
    min-height: 90vh;
    margin-block: 8rem;

    @media (max-width: 960px) {
      flex-direction: column;
      min-height: 55rem;
      padding: 0;
      gap: 5rem;
    }
  }

  .about > * {
    flex: 1;
  }

  .about .content {
    position: relative;
  }

  .content > .title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .content > .content__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    & > * {
      flex: 1 1 375px;
    }
  }

  .about .illustration {
    position: relative;
    isolation: isolate;

    @media (max-width: 960px) {
      display: flex;
      align-items: flex-end;
      justify-content: start;
      scale: 0.7;
    }
  }

  .content__title :global(astro-island span) {
    display: block;
  }

  .content__title :global(astro-island span:not(:first-of-type)) {
    margin-top: 1rem;
  }

  .illustration :global(> astro-island > .main-circle) {
    position: relative;
    display: grid;
    place-items: center;

    @media (max-width: 960px) {
      position: revert;
    }
  }
</style>
