---
import Seo3D from '../asset/Seo3D.webp';
import MotionContainer from './MotionContainer';
import ExpandableCard from './ExpandableCard/ExpandableCard';
import { aboutMeData } from '@/data/aboutMeData';

import i18next from 'i18next';

const currentLanguage = i18next.language || 'vi';
---

<div class="about" id="about">
  <div class="content">
    <h2 class="title">{currentLanguage === 'en' ? 'Who is Thanh Huy Doan 🤔' : 'Lý lịch cá nhân 🤔'}</h2>
    <div class="content__title">
      {
        aboutMeData.map((data, index) => (
          <div>
            <ExpandableCard
              title={data.title[currentLanguage]}
              subtitle={data?.subtitle?.[currentLanguage] ? data.subtitle[currentLanguage] : ''}
              index={index + 1}
              client:only="react"
            >
              {data.description[currentLanguage].map((desc) => (
                <span>{desc}</span>
              ))}
            </ExpandableCard>
          </div>
        ))
      }
    </div>
  </div>
  <div
    class="blur"
    style={{
      '--bg': '#ABF1FF94',
      '--top': '13rem',
      '--left': '-18rem',
    }}
  >
  </div>
  <div class="illustration">
    <!-- <MotionContainer
      client:load
      initial={{ scale: 0 }}
      whileInView={{ scale: 1 }}
      viewport={{ margin: "-40px" }}
      transition={{ duration: 1 }}
      className="main-circle"
    >
      <img src={Seo3D.src} width={Seo3D.width} alt="" />
    </MotionContainer> -->
    <div class="blur" style={{ '--bg': 'var(--purple)', '--top': '1rem', '--left': '5%' }}></div>
  </div>
</div>

<style>
  .about {
    position: relative;
    margin-inline: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, 48px 1fr);
    place-content: center;
    gap: 3rem;
    min-height: 90vh;
    margin-block: 8rem;

    @media (max-width: 960px) {
      flex-direction: column;
      min-height: 55rem;
      padding: 0;
      gap: 5rem;
    }
  }

  .about > * {
    flex: 1;
  }

  .about .content {
    position: relative;
  }

  .content > .title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .content > .content__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    & > * {
      flex: 1 1 375px;
    }
  }

  .about .illustration {
    position: relative;
    isolation: isolate;

    @media (max-width: 960px) {
      display: flex;
      align-items: flex-end;
      justify-content: start;
      scale: 0.7;
    }
  }

  .content__title :global(astro-island span) {
    display: block;
  }

  .content__title :global(astro-island span:not(:first-of-type)) {
    margin-top: 1rem;
  }

  .illustration :global(> astro-island > .main-circle) {
    position: relative;
    display: grid;
    place-items: center;

    @media (max-width: 960px) {
      position: revert;
    }
  }
</style>
