---
import Cards from './Cards.astro';
import CardsWrapper from './CardsWrapper';
import { staggerContainer } from '@/utils/motion';
import WordpressBackground from '@asset/wordpress-development.webp';
---

<section class="proficiency" id="proficiency">
  <div class="content">
    <div class="content__title">
      <span>Proof of Experiences</span>
      <span>Frontend - SEO Optimization</span>
      <span>
        This is two of the most important aspects of web development - Frontend and SEO Optimization.
        <br />
        Mastering various JavaScript frameworks for advanced web projects and contributing to SEO optimization enhances overall
        site speed by applying a caching system and implementing best practices for advanced on-page SEO.
      </span>
    </div>
  </div>
  <div class="blur" style={{ '--bg': '#ABF1FF94', '--left': '0', '--top': '9rem' }}></div>
  <CardsWrapper
    variants={staggerContainer}
    initial="hidden"
    whileInView="visible"
    className="cards-container"
    client:load
  >
    <Cards />
  </CardsWrapper>
</section>

<style define:vars={{ wordpressBackground: `url(${WordpressBackground.src})` }}>
  .proficiency {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-inline: auto;
    min-height: 30rem;
    margin-block: 8rem;
    padding-block: 4rem;
    position: relative;
    isolation: isolate;
    @media (max-width: 960px) {
      margin-top: 0;
      gap: 5rem;
      min-height: 66rem;
    }
  }

  .proficiency::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--wordpressBackground);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(3px);
    opacity: 0.8;
    z-index: -1;
  }

  .proficiency .content {
    position: relative;
  }

  .content :global(> .content__title > :nth-child(3)) {
    --fw: 400;
    margin-top: 0.5rem;
  }
  .content :global(> .content__title > :last-child) {
    --fw: 400;
    --fs: clamp(0.875rem, 1.65vw, 1rem);
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
  }

  .content > .download {
    width: fit-content;
    min-height: 2rem;
    margin-top: 1rem;
  }
</style>
