---
import Grid from './Grid.astro';
import Swiper from './Swiper.astro';
import i18next from 'i18next';

const currentLanguage = i18next.language || 'vi';
---

<section class="portfolio" id="portfolio">
  <div class="content">
    <p class="title">{currentLanguage === 'en' ? 'Projects' : 'Các dự án'}</p>
    <p class="subtitle">{currentLanguage === 'en' ? 'Selected Practice Projects' : 'Một số dự án cá nhân nổi bật'}</p>
    <div class="blur" style={{ '--bg': 'skyblue', '--top': '13rem', '--left': '-18rem' }}></div>
  </div>
  <!-- <Swiper /> -->
  <Grid />
</section>

<style>
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    min-height: 100vh;
    font-weight: bold;
    /* margin-bottom: 7rem; */
    gap: 2rem;
    position: relative;
  }

  .portfolio .content {
    position: relative;
    max-width: 60ch;
  }

  .portfolio .title {
    font-size: 2rem;
    color: var(--clr-foreground, var(--black));
  }

  .portfolio .subtitle {
    font-size: 2.5rem;
    color: var(--orange);
  }
</style>
